/* impostazioni generalli */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
}



/* impostazioni header */
header{
    background-color: #fff;
    height: 80px;
    padding: 5px 30px;

}
#logo{
    height: 100%;
    line-height: 80px;
    vertical-align: middle;
}
header span{
    line-height: 80px;
    font-weight: 900;
    font-size: 40px;
    vertical-align: middle;
}

/* impostazioni main */
.middle{
    width: 70%;
    margin: 30px auto;
}
#container-btn{
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    margin-bottom: 2px;
    padding: 15px 40px;  
}
#container-todolist{
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    /* height: 100px; */
    padding: 15px 40px;
}

/* sezione btn */
.btn{
    background-color: transparent;
    color: lightslategray;
    border-radius: 5px;
    border: solid lightslategray 1px;
    font-size: 13px;
    padding: 7px 5px;
    text-align: center;
    margin-right: 5px;
}


/* sezione todolist */
.cont-task{
    margin: 20px 0;
    color: #4b4e57;
}
.task{
    font-size: 22px;
    font-weight: 600;
}
.todo{
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    padding: 0 10px;
}
.entity{
    border: 1px solid;
    border-radius: 20px;
    padding: 3px;
    font-size: 13px;
}
.check{
    color: rgb(6, 248, 66);
}
.cross{
    color: red
}
.btn-task{
    font-size: 15px;
    border-radius: 30px;
    padding: 0 15px;
    margin-left: 15px;
    border: 0px;
}





/* button color */
.blue-btn{
    background-color: #4da1ff;
    color: #fff;
}
.violet-btn{
    background-color: #b139f7;
    color: #fff;
}
.green-btn{
    background-color: green;
    color: #fff;
}
.orange-btn{
    background-color: orange;
    color: #fff;
}
.pink-btn{
    background-color: palevioletred;
    color: #fff;
}
.lightgreen-btn{
    background-color: rgb(62, 245, 62);
    color: #fff;
}